/* CSS BY (Caitlin Garcia) */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900 &display=swap');

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ROOT VARIABLES */
:root {
    --midnight-blue: #1f2a44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;

    --font-family: "Playfair Display";

    --radius: 10px;
    --box-shadow: 0 5px 5px var(--dark-charcoal);
}

/* GLOBAL STYLES (mobile first/small) */
body {
    padding-bottom: 2rem 0; /*FIX */
    font-family: var(--font-family);
    color: var(--linen);
    background-color: var(--midnight-blue);
}

header {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem; /*FIX */
    color: var(--soft-white);
    background-color: var(--midnight-blue);
}

header img {
    display: block;
    margin: auto;
    width: 200px;
    height: auto;
    align-items: center;
    margin-bottom: 1rem;
}

header h1 {
    text-align: center;
    font-size: 4rem;
    font-family: var(--font-family);
}

header p {
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
    font-style: italic;
    color: var(--soft-white);
   
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    gap: 1rem;
    background-color: var(--champagne-gold);
}

 nav a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--midnight-blue);
}

main {
    padding: 1.5rem;
    background-color: var(--soft-white);
}

h2 h3 {
    color: var(--dark-charcoal);
    background-color: var(--soft-white);
}

 section {
    margin-bottom: 2rem;
    color: var(--dark-charcoal);
    background-color: var(--soft-white);
}

#offerings > section {
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    color: var(--soft-white);
    background-color: var(--olive-green);
    box-shadow: var(--box-shadow);
}

section ul {
    list-style-type: none;
}

div img {
    display: block;
    margin: auto;
    align-items: center;
    border-radius: 5px;
    margin-top: 5rem;
    box-shadow: var(--box-shadow);
}

div p {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1rem;
}

div a {
    text-align: center;
    display: block;
    padding: 0.50rem;
    margin: 1rem auto;
    border-radius: 5px;
    text-decoration: none;
    color: var(--soft-white);
    background-color: var(--olive-green);
    
}

footer {
    padding: 1.5rem 1rem; /*FIX */
    margin-top: 1rem;
    text-align: center;
    background-color: var(--midnight-blue);
    color: var(--soft-white);
}

footer p {
   margin: 1.5rem;
}

footer a {
    margin: 1.5rem;
    display: block;
    text-decoration: none;
    color: var(--champagne-gold);
}
/* MEDIA QUERY (medium) */
@media (min-width: 600px) {
    header h1 {
        font-size: 2.5rem;
    }
    main {
        max-width: 600px;
        margin: 0 auto;
    }
    div a {
        width: 50%;
    }
}

/* MEDIA QUERY (large) */
@media (min-width: 900px) {
    body {
        font-size: 1.50rem;
    }
    main {
        max-width: 900px;
    }
    nav ul {
        font-size: 1rem;
        gap: 1.5rem;
    }
    section > section {
        padding: 1.5rem;
    }
    div a {
        width: 50%;
    }
}
/* MEDIA QUERY (xl) */
@media (min-width: 1200px) {
    main {
        max-width: 1200px;
    }
    header h1 {
        font-size: 1.5rem;
    }
    nav ul {
        font-size: 1.5rem;
        padding: 1rem;
    }
    div img {
        border-radius: 10px;
    }
    section > section {
        max-width: 1200px;
        margin-bottom: auto;
    }
}